{% load bootstrap5 %}
{% bootstrap_css %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Implify Connect</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <!-- Include DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar-custom-style">
        <img src="/static/images/navbar_images/left.png" id="nav-left-image" alt="left"
            class="h-100 d-inline-block img-styles" style="left: 0;">

        <div style="display" class="ml-5" id="implify-connect-logo">

            <a href="/admin" class="ml-5">
                <img src="/static/images/navbar_images/implify_connect_logo_new.png">
            </a>

        </div>

        <button class="navbar-toggler position-between" type="button" style="z-index: 2;" data-bs-toggle="collapse"
            data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse account-collapse mt-xs-5" style="z-index: 2;" id="navbarToggler">
            <ul class="navbar-nav ml-auto d-flex mr-5">

                <form id="language_selector" style="margin-left: 10px" action="/i18n/setlang/" method="post">
                    <input type="hidden">
                    <input name="next" type="hidden" value="/implify/">
                    <div class="d-flex align-items-center">
                        <!-- Use flexbox for side-by-side layout -->
                        <div class="form-group mb-0">
                            <select name="language" class="form-control">
                                <option value="de">Deutsch</option>
                                <option value="en" selected="selected">English</option>
                            </select>
                        </div>
                        <div class="form-group mb-0 ml-2">
                            <button class="btn btn-outline-secondary" type="submit" data-loading-text="Submitting...">
                                Go
                            </button>
                        </div>
                    </div>
                </form>

                <li class="nav-item mr-2">
                    <a href="/accounts/" class="nav-link mt-2 mt-lg-0">
                        <i class="far fa-user mr-2"></i>
                        Account
                    </a>
                </li>

                <li class="nav-item mr-2">
                    <a href="/report" class="nav-link">
                        <i class="fas fa-list-ul mr-2"></i>
                        Report
                    </a>
                </li>

                <li class="nav-item mr-2">
                    <a id="logout_link" href="/accounts/logout/" class="nav-link">
                        <i class="fas fa-sign-out-alt mr-2"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>

        <img src="/static/images/navbar_images/right.png" alt="right" id="nav-right-image"
            class="h-100 d-inline-block img-styles" style="right: 0;">
    </nav>

    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <!-- Left Part -->
                <div class="row mb-3">
                    <div class="col">
                        <button id="stockRecordButton" style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #198754; border: none; height: 100px; position: relative;">
                            <a href="/report" class="btn btn-primary btn-lg btn-block" style="font-size: 16px; position: relative; background-color: #198754; border-color: #198754;">Stock Record</a>
                            <hr style="width: 50%; position: absolute; bottom: 50%; transform: translateY(50%); margin: 0; border-color: white;">
                            <p id="rowCount" style="color:white; position: relative; z-index: 1;">{{ row_count }}</p>
                        </button>
                    </div>
                    <div class="col ">
                        <button style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #198754; border: none; height: 100px; position: relative;">
                            <a href="/report" class="btn btn-primary btn-lg btn-block" style="font-size: 16px; position: relative; background-color: #198754; border-color: #198754;"> &nbsp Stock Level   </a>
                            <hr style="width: 50%; position: absolute; bottom: 50%; transform: translateY(50%); margin: 0; border-color: white;">
                            <p style="color:white; position: relative; z-index: 1;">{{total_stock_level}}</p>
                        </button>
                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col">
                        <button style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #198754; border: none; height: 100px; position: relative;">
                            <a href="/dashboard" class="btn btn-primary btn-lg btn-block" style="font-size: 16px; background-color: #198754; border-color: #198754;"> &nbsp&nbsp&nbsp&nbsp Report&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                            <hr style="width: 50%; position: absolute; bottom: 50%; transform: translateY(50%); margin: 0; border-color: white;">
                            <p style="color:white; position: relative; z-index: 1;">&nbsp</p>
                        </button>
                    </div>
                    <div class="col">
                        <button style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #198754; border: none; height: 100px; position: relative;">
                            <a href="/admin" class="btn btn-primary btn-lg btn-block" style="font-size: 16px; background-color: #198754; border-color: #198754;"> &nbsp&nbsp&nbsp&nbsp Admin&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                            <hr style="width: 50%; position: absolute; bottom: 50%; transform: translateY(50%); margin: 0; border-color: white;">
                            <p style="color:white; position: relative; z-index: 1;">&nbsp</p>
                        </button>                
                </div>
            </div>
           
        </div>
        
        <div class="col-md-6" style="border-left: 1px solid #ccc; ">
            
            <canvas id="doughnutChartCanvas" style="height: 350px;"></canvas>
            
        </div>
    </div>
   

    
  

    <!-- Include Bootstrap JS at the end -->
    {% bootstrap_javascript %}

  <!-- Include Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Container for the doughnut chart -->

<!-- JavaScript to render the doughnut chart -->
<script>
    // Data for the doughnut chart
    var row_count = {{ row_count }};
    var total_stock_level = {{ total_stock_level }};
    var total = 100;
    var doughnutChartData = {
        labels: ['Stock Level', 'Stock Records'],
        datasets: [{
            data: [total_stock_level,row_count],
            backgroundColor: [
                'lightgreen',
                'skyblue',
            ]
        }]
    };

    // Options for the doughnut chart

    var doughnutChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            title: {
                display: true,
                text: 'Implify Connect Overview',
                font: {
                    size: 17
                }
            }
        }
    };

    // Get the canvas element
    var doughnutChartCanvas = document.getElementById('doughnutChartCanvas');

    // Render the doughnut chart
    var doughnutChart = new Chart(doughnutChartCanvas, {
       
        type: 'doughnut',
        data: doughnutChartData,
        options: doughnutChartOptions
    });

    doughnutChartCanvas.onclick = function(event) {
        var activePoints = doughnutChart.getElementsAtEventForMode(event, 'nearest', { intersect: true }, true);
        if (activePoints.length > 0) {
            var clickedDatasetIndex = activePoints[0].datasetIndex;
            var clickedElementIndex = activePoints[0].index;
            if (clickedDatasetIndex === 0) {
                var label = doughnutChart.data.labels[clickedElementIndex];
                if (label === 'Stock Records') {
                    window.location.href = '/report';
                }
            }
        }
    };

    
</script>

</body>
<div>

    <a href="/addrow" class="btn btn-primary btn-lg btn-block">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
        Add Record
    </a>
    
</div>
</html>
