{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<style>
    .toggle-input {
        border: 1px solid black;
    }
</style>

<form method="post" id="approvalForm">
    <table class="table mt-4 table-header-blue">
        <thead>
            <tr>
                <th>Artikelnummer</th>
                <th>Artikelbeschreibung</th>
                <th>Charge</th>
                <th>Entnahmedatum</th>
                <th>Patienten IDs</th>
                <th>Freigabe</th>
                <th>Ablehnungsgrund</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SDS2.2_4614-ba</td>
                <td>Gingivaformer (Konisch, WP) | Ø 6,3 mm | GH: 5,0 mm</td>
                <td>W22000906</td>
                <td></td>
                <td><input type="text" class="form-control" maxlength="10"></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Freigabe">
                        <button type="button" class="btn toggle-input" value="1">Ja</button>
                        <button type="button" class="btn toggle-input" value="2">Nein</button>
                    </div>
                </td>
                <td><input type="text" id="row1" class="form-control" maxlength="10" disabled></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" id="saveButton">Daten übermitteln</button>
</form>

<script>
    // Get all toggle-input buttons
    var toggleButtons = document.querySelectorAll('.toggle-input');
    // Get the input field
    var inputField = document.getElementById('row1');
    
    // Add click event listener to all toggle-input buttons
    toggleButtons.forEach(function(button) {
        button.addEventListener('click', function () {
            // Check if the button is already active
            var isActive = button.classList.contains('active');
            
            // Reset all button styles
            toggleButtons.forEach(function(btn) {
                btn.classList.remove('active');
                btn.style.background = 'white';
            });

            // Disable input field by default
            inputField.disabled = true;

            // Toggle button and set styles accordingly
            if (!isActive) {
                button.classList.add('active');
                if (button.value === '1') {
                    button.style.background = 'green';
                } else if (button.value === '2') {
                    button.style.background = 'red';
                    inputField.disabled = false;
                }
            }
        });
    });
</script>
